In [2]:
import pandas as pd
import numpy as np
import ddf_utils.ddf_reader as ddf
import xlrd
import os
import re

/usr/local/lib/python3.5/site-packages/matplotlib/__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [3]:
ddf.SEARCH_PATH = "/Users/semio/src/work/Gapminder/"

In [3]:
def to_concept_id_2(s, sub='[/ -\.\*â€“";]+', sep='_'):
    '''convert a string to lowercase alphanumeric + underscore id for concepts'''
    if s is np.nan:
        return s

    s1 = re.sub(sub, sep, s.strip())
    s1 = s1.replace('\n', '')

    # remove the first/last underscore
    if s1[-1] == sep:
        s1 = s1[:-1]
    if s1[0] == sep:
        s1 = s1[1:]

    return s1.lower()

In [4]:
sheets = xlrd.open_workbook('source/bp-statistical-review-of-world-energy-2015-workbook.xlsx').sheet_names()

In [6]:
list(map(to_concept_id_2, sheets))

['contents',
 'oil_proved_reserves',
 'oil_proved_reserves_history',
 'oil_production_barrels',
 'oil_production_tonnes',
 'oil_consumption_barrels',
 'oil_consumption_tonnes',
 'oil_regional_consumption',
 'oil_spot_crude_prices',
 'oil_crude_prices_since_1861',
 'oil_refinery_capacities',
 'oil_refinery_throughputs',
 'oil_regional_refining_margins',
 'oil_trade_movements',
 'oil_inter_area_movements',
 'oil_imports_and_exports',
 'gas_proved_reserves',
 'gas_proved_reserves_history',
 'gas_production_bcm',
 'gas_production_bcf',
 'gas_production_tonnes',
 'gas_consumption_bcm',
 'gas_consumption_bcf',
 'gas_consumption_tonnes',
 'gas_trade_pipeline',
 'gas_trade_movements_lng',
 'gas_trade_2013_2014',
 'gas_prices',
 'coal_reserves',
 'coal_prices',
 'coal_production_tonnes',
 'coal_production_mtoe',
 'coal_consumption_mtoe',
 'nuclear_consumption_twh',
 'nuclear_consumption_mtoe',
 'hydro_consumption_twh',
 'hydro_consumption_mtoe',
 'other_renewables_twh',
 'other_renewables_mtoe',
 'solar_consumption_twh',
 'solar_consumption_mtoe',
 'wind_consumption_twh',
 'wind_consumption_mtoe',
 'geo_biomass_other_twh',
 'geo_biomass_other_mtoe',
 'biofuels_production_kboed',
 'biofuels_production_ktoe',
 'primary_energy_consumption',
 'primary_energy_cons_by_fuel',
 'electricity_generation',
 'carbon_dioxide_emissions',
 'geothermal_capacity',
 'solar_capacity',
 'wind_capacity',
 'approximate_conversion_factors',
 'definitions']

In [40]:
data = pd.read_excel('source/bp-statistical-review-of-world-energy-2015-workbook.xlsx', na_values=['n/a'], 
              sheetname='Oil - Proved reserves history', 
              skiprows=2)

In [41]:
data = data.set_index('Thousand million barrels')

In [43]:
data = data[:'Total World']   ## should I also keep OECD related entry? current will drop them

In [44]:
data = data.dropna(how='all')

In [45]:
data = data.reset_index()

In [5]:
c = ddf.ddf_entities('ddf--gapminder--systema_globalis')['country']

In [6]:
cgw = c

def gw_id(s):
    for i in ['name', 'alternative_1', 'alternative_2', 'alternative_3', 'upper_case_name',
       'alternative_4_cdiac', 'pandg', 'god_id', 'alt_5', 'arb1', 'arb2', 'arb3', 'arb4', 'arb5', 'arb6']:
    
        if s.lower() in cgw[i].str.lower().values:
            return cgw[cgw[i].str.lower() == s.lower()]['country'].values[0]
    return np.nan

In [46]:
data = data.rename(columns={'Thousand million barrels': 'geo_name'})
data['geo'] = data['geo_name'].map(to_concept_id_2)

In [47]:
# entities

data[['geo', 'geo_name']].to_csv('../ddf--entities--geo.csv', index=False)

In [48]:
data = data.drop(['2013.1', 'of total', 'geo_name'], axis=1)

In [50]:
data = data.set_index('geo')

In [51]:
data

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
geo,,,,,,,,,,,,,,,,,,,,,
us,36.533000,36.494000,35.079000,35.636001,36.088999,36.360000,35.054000,35.403001,35.063001,34.270000,...,29.922000,29.444000,30.459999,28.396000,30.871999,34.990000,39.775001,44.179999,48.462998,48.462998
canada,39.527521,40.175334,40.312097,40.491261,40.531767,40.939039,41.102001,41.201262,41.467760,41.295702,...,180.044115,179.361955,178.834031,176.349920,175.339445,174.904200,174.160624,173.557101,172.917313,172.917313
mexico,47.223999,56.998001,56.998001,57.096001,56.410000,55.592999,54.880001,54.110001,53.012001,51.983002,...,13.669700,12.849600,12.186600,11.865500,11.865500,11.691300,11.393700,11.423900,11.078800,11.078800
total_north_america,123.284521,133.667336,132.389098,133.223262,133.030766,132.892037,131.036002,130.714264,129.542761,127.548704,...,223.635815,221.655555,221.480630,216.611420,218.076944,221.585500,225.329325,229.161001,232.459111,232.459111
argentina,2.457000,2.171652,1.949600,2.449769,2.349000,2.240000,2.233000,2.246000,2.279900,2.167700,...,2.180263,2.586760,2.616020,2.520308,2.511496,2.524152,2.525000,2.354209,2.329584,2.327230
brazil,1.317967,1.475841,1.718439,1.849833,2.016010,2.168060,2.358415,2.550757,2.816137,2.759837,...,11.772262,12.182000,12.623830,12.801420,12.875670,14.246330,15.049890,15.314221,15.592741,16.154446
colombia,0.550000,0.530000,0.610000,0.640000,1.100000,1.240000,1.700000,1.910000,2.050000,1.980000,...,1.453200,1.509400,1.510000,1.362000,1.360000,1.900000,1.987600,2.200000,2.377000,2.445000
ecuador,0.973900,0.904100,0.914000,0.881700,1.137100,1.148000,1.235100,1.594300,1.514900,1.441600,...,4.865830,4.464930,4.001000,6.518000,6.332980,6.157800,7.210000,8.383030,8.190940,7.999560
peru,0.628445,0.882037,0.775145,0.696324,0.670446,0.589000,0.535800,0.480400,0.853000,0.847000,...,1.078258,1.097288,1.121480,1.121480,1.121480,1.240000,1.206200,1.422700,1.616952,1.616952
trinidad_tobago,0.571000,0.571000,0.633000,0.540000,0.570000,0.612000,0.564000,0.619500,0.613000,0.618600,...,0.803000,0.793800,0.871000,0.830000,0.830000,0.830000,0.830000,0.830000,0.830000,0.830000
venezuela,19.530001,19.888000,24.900000,25.886999,28.028000,54.453999,55.521000,58.101002,58.505001,59.040001,...,80.012001,87.323999,99.376999,172.322998,211.173004,296.500999,297.570999,297.735001,298.349991,298.349991
other_s_cent_america,0.713696,0.758244,0.825162,0.475310,0.439926,0.435400,0.429000,0.616120,0.608200,0.639990,...,1.470200,0.844152,0.820500,0.812070,0.769259,0.768359,0.506729,0.511529,0.527810,0.523969
total_s_cent_america,26.742009,27.180875,32.325346,33.419936,36.310482,62.886459,64.576315,68.118079,69.240138,69.494728,...,103.635013,110.802329,122.940829,198.288277,236.973890,324.167641,326.886418,328.750690,329.815018,330.247148
azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
denmark,0.450000,0.371000,0.327070,0.308201,0.465446,0.446577,0.402548,0.402548,0.540924,0.628981,...,1.276832,1.157325,1.113297,0.811386,0.918312,0.899443,0.805096,0.729618,0.673010,0.610112
italy,0.378450,0.378450,0.416295,0.431433,0.620658,0.635796,0.643365,0.681210,0.802314,0.764469,...,0.459680,0.450484,0.456479,0.469520,0.527998,0.579755,0.577681,0.621150,0.603438,0.641904
kazakhstan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.000000,9.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
norway,3.952062,3.954960,3.816584,4.887011,4.961909,5.902661,6.493355,6.636085,8.156469,8.421635,...,9.688088,8.545747,8.168359,7.490798,7.077699,6.803992,6.883337,7.494604,7.047490,6.539224
romania,1.090193,1.005513,0.959260,1.594940,1.510600,1.442000,1.362000,1.286000,1.231000,1.199000,...,0.458400,0.477700,0.480000,0.480000,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000
russian_federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,104.404817,104.033727,106.427030,106.366164,105.563954,105.800355,105.709448,105.491589,105.016415,103.163895
turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.546000,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000,0.600000
united_kingdom,8.437500,7.875000,7.462500,6.937500,6.000000,5.625000,5.325000,5.175000,4.275000,3.825000,...,3.870000,3.592500,3.390000,3.060000,2.835000,2.805000,3.097500,3.037500,3.030000,3.030000
uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.594000,0.594000,0.594000,0.594000,0.594000,0.594000,0.594000,0.594000,0.594000,0.594000
other_europe_eurasia,69.270270,65.183704,65.348154,65.251517,65.202919,65.249543,63.282767,61.163064,61.240228,60.540837,...,2.194840,2.159808,2.144156,2.123636,2.298893,2.197347,2.210613,2.107328,1.999644,1.976388
total_europe_eurasia,83.578474,78.768627,78.329863,79.410602,78.761532,79.301576,77.509035,75.343907,76.245934,75.379922,...,139.492657,137.611291,160.373319,158.995503,158.015857,157.879892,158.077674,158.275788,157.163996,154.755522
iran,58.296001,57.020000,56.147999,55.257000,58.874001,59.000000,92.860001,92.860001,92.860001,92.860001,...,137.490005,138.399994,138.220001,137.619995,137.009995,151.169998,154.580002,157.300003,157.800003,157.800003
iraq,30.000000,32.000000,59.000000,65.000000,65.000000,65.000000,72.000000,100.000000,100.000000,100.000000,...,115.000000,115.000000,115.000000,115.000000,115.000000,115.000000,143.100006,150.000000,150.000000,150.000000
kuwait,67.930000,67.730003,67.150002,67.000000,92.709999,92.463997,94.522003,94.525002,94.525002,97.125000,...,101.500000,101.500000,101.500000,101.500000,101.500000,101.500000,101.500000,101.500000,101.500000,101.500000
oman,2.484000,2.942000,3.400000,3.500000,3.900000,4.067000,4.037000,4.105200,4.142000,4.290900,...,5.572000,5.572000,5.572000,5.572000,5.500000,5.500000,5.500000,5.500000,4.974300,5.151000
qatar,3.585000,3.450000,3.425000,3.330000,4.500000,4.500000,4.500000,4.500000,4.500000,4.500000,...,27.910199,27.436199,27.323000,26.833000,25.906999,24.684000,23.900000,25.228999,25.063001,25.705001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
syria,1.452028,1.890000,1.750000,1.460000,1.397500,1.540000,1.620000,1.720000,1.800000,2.000000,...,3.000000,3.000000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000,2.500000
united_arab_emirates,30.410000,32.175999,32.354000,32.340000,32.490002,32.990002,97.203003,98.105003,98.105003,98.105003,...,97.800003,97.800003,97.800003,97.800003,97.800003,97.800003,97.800003,97.800003,97.800003,97.800003
yemen,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,1.050000,2.000000,2.000000,...,2.920700,2.780000,2.670000,2.670000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
other_middle_east,0.224059,0.207147,0.191022,0.185800,0.173750,0.180710,0.141700,0.126700,0.113619,0.098483,...,0.127560,0.127520,0.127500,0.127500,0.309040,0.276940,0.651800,0.279300,0.260685,0.239253
total_middle_east,362.411087,365.265156,388.902016,396.920807,430.755258,431.731714,537.127710,566.576912,653.034623,661.029375,...,755.531466,755.866723,754.921520,753.685487,753.116033,765.946933,797.936810,808.958312,808.747998,810.695260
algeria,8.200000,8.080000,9.440000,9.220000,9.000000,8.820000,8.800000,8.564000,9.200000,9.236000,...,12.270000,12.270000,12.200000,12.200000,12.200000,12.200000,12.200000,12.200000,12.200000,12.200000
angola,1.375000,1.108000,1.457000,1.715000,2.147000,2.018000,1.400000,2.000000,2.000000,2.074000,...,9.035000,9.035000,9.035000,9.040000,9.500000,9.500000,9.055000,12.667000,12.667000,12.667000
chad,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000,1.500000
rep_of_congo_brazzaville,0.705440,0.733045,0.754425,0.738345,0.798431,0.756000,0.719700,0.695000,0.750000,0.710000,...,1.505900,1.600000,1.600000,1.600000,1.600000,1.600000,1.600000,1.600000,1.600000,1.600000
egypt,2.916450,3.530300,3.699625,3.958599,4.025600,3.800000,4.500000,4.685000,4.270500,4.300000,...,3.720000,3.720000,4.070000,4.200000,4.400000,4.500000,4.300000,4.200000,3.900000,3.600000
equatorial_guinea,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.805000,1.755000,1.705000,1.705000,1.705000,1.705000,1.705000,1.705000,1.705000,1.100000
gabon,0.470925,0.463488,0.481785,0.547300,0.623000,0.657000,0.646000,0.960000,0.930000,0.958600,...,2.146000,2.150000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
libya,20.330000,22.600000,22.186001,21.784000,21.424999,21.299999,22.799999,22.799999,22.799999,22.799999,...,41.464001,41.464001,43.662998,44.271000,46.422001,47.097000,48.014000,48.472000,48.362999,48.362999
nigeria,16.700001,16.500000,16.750000,16.549999,16.650000,16.600000,16.066000,15.980000,16.000000,16.000000,...,36.220001,37.200001,37.200001,37.200001,37.200001,37.200001,37.200001,37.139000,37.070000,37.070000
south_sudan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.500000,3.500000,3.500000
sudan,0.000000,0.200000,0.400000,0.300000,0.300000,0.300000,0.300000,0.300000,0.300000,0.300000,...,0.563000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.500000,1.500000,1.500000
tunisia,2.180593,2.491400,2.451700,2.515440,1.815000,1.780000,1.752600,1.725000,1.790000,1.800000,...,0.560000,0.596000,0.601000,0.577000,0.425000,0.425000,0.425000,0.425000,0.425000,0.425000
other_africa,0.558110,0.575539,0.650245,0.710074,0.982550,1.006383,0.981757,0.954580,0.956253,0.907927,...,0.542897,0.651426,0.656374,0.656290,0.619190,2.264122,2.184122,3.684112,3.684112,3.684112
total_africa,53.436519,56.281772,58.270780,58.038758,57.766580,57.037382,57.966056,58.663579,58.996753,59.086526,...,111.331799,116.941428,119.230373,119.949290,122.571192,124.991123,125.183123,130.592112,130.114110,129.209110
australia,2.122811,2.618448,2.931052,2.490765,2.559953,2.459316,2.874444,2.905893,3.188934,3.100877,...,3.718341,3.514520,3.428960,4.239200,4.061400,3.831080,3.872945,3.921968,3.957499,3.982035
brunei,1.294000,1.500000,1.445250,1.527000,1.470270,1.443000,1.475000,1.600000,1.200000,1.151700,...,1.105000,1.200000,1.078000,1.078000,1.100000,1.100000,1.100000,1.100000,1.100000,1.100000
china,13.352621,13.290462,13.258870,14.880853,16.364592,17.087696,17.161289,17.423483,17.283627,16.058491,...,15.587300,15.614500,15.493400,15.605570,15.862120,17.298800,17.804569,18.083706,18.478930,18.478930
india,2.756959,3.482400,3.504700,3.620000,3.760000,3.761310,4.635000,4.415600,4.463500,4.345400,...,5.918881,5.692680,5.459250,5.798100,5.822874,5.833190,5.703523,5.719713,5.711030,5.743410
indonesia,11.603000,11.018000,10.534000,10.080000,9.611000,9.180000,9.000000,9.000000,9.000000,5.114000,...,4.190000,4.370000,3.988740,3.747500,4.303000,4.230000,3.741330,3.741330,3.692500,3.692500
malaysia,1.800000,2.295000,2.570000,2.570000,2.900000,3.500000,3.530000,3.324000,3.379000,3.674500,...,5.252000,5.357000,5.460000,5.520000,3.572000,3.739000,3.739000,3.668000,3.750000,3.750000
thailand,0.000419,0.015209,0.030000,0.030000,0.058000,0.109000,0.104000,0.104000,0.104000,0.230700,...,0.453000,0.461000,0.461000,0.454000,0.435000,0.442000,0.453270,0.448820,0.461800,0.461800
vietnam,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021900,0.051100,0.109500,...,3.119207,3.250000,3.410000,4.730000,4.500000,4.400000,4.400000,4.400000,4.400000,4.400000
other_asia_pacific,0.993110,1.088060,1.083620,1.109792,1.100258,1.170000,0.678800,0.670500,0.975700,0.945500,...,1.415513,1.390791,1.268046,1.259465,1.122902,1.107442,1.110440,1.077796,1.123949,1.082835
total_asia_pacific,33.922920,35.307580,35.357492,36.308409,37.824073,38.710323,39.458533,39.465375,39.645861,34.730667,...,40.759243,40.850491,40.047395,42.431835,40.779295,41.981512,41.925077,42.161332,42.675707,42.691510
total_world,683.375530,696.471344,725.574595,737.321774,774.448690,802.559491,907.673651,938.882116,1026.706070,1027.269922,...,1374.385994,1383.727818,1418.994066,1489.961811,1529.533211,1636.552600,1675.338427,1697.899234,1700.975941,1700.057661

In [66]:
d = data.T.unstack()

In [67]:
d = d.dropna()

In [68]:
d = d.reset_index()
d.columns = ['geo', 'year', 'oil_proved_reserves_history']

In [69]:
d.sort_values(by=['geo', 'year']).to_csv('../ddf--datapoints--oil_proved_reserves_history--by--geo--year.csv',
                                         index=False)

In [7]:
def extract(sheet_name, ddf_id):
    data = pd.read_excel('source/bp-statistical-review-of-world-energy-2015-workbook.xlsx', na_values=['n/a'], 
              sheetname=sheet_name, 
              skiprows=2)
    
    data = data.rename(columns={data.columns[0]: 'geo'})
    data['geo'] = data['geo'].map(to_concept_id_2)
    
    data = data.set_index('geo')
    data = data.dropna(how='all')
    
    data = data[:'total_world']
    
    data = data.reset_index()

    data = data.drop(['2013.1', 'of total'], axis=1)
    data = data.set_index('geo')

    d = data.T.unstack()
    d = d.dropna()
    d = d.reset_index()
    d.columns = ['geo', 'year', ddf_id]
    
    return d.sort_values(by=['geo', 'year'])

In [102]:
sss = 'Electricity Generation '
print(ddd[sss])
df_2 = extract(sss, ddd[sss])

electricity_generation

In [103]:
fn = os.path.join('..', 'ddf--datapoints--'+ddd[sss]+'--by--geo--year.csv')

df_2.to_csv(fn, index=False)

In [12]:
ddd = dict(zip(sheets, list(map(to_concept_id_2, sheets))))

### Notes:

pay attention to the one failed below.

In [14]:
for i in ddd.keys():
    try:
        df_2 = extract(i, ddd[i])
    except:
        print(i, 'failed')
        continue
    print(ddd[i], '...')
    fn = os.path.join('..', 'ddf--datapoints--'+ddd[i]+'--by--geo--year.csv')

    df_2.to_csv(fn, index=False)

Gas - Trade - pipeline failed
other_renewables_twh ...
Oil â€“  Spot crude prices failed
gas_proved_reserves_history ...
Oil - Imports and exports failed
electricity_generation ...
coal_consumption_mtoe ...
Primary Energy - Cons by fuel failed
geo_biomass_other_twh ...
Approximate conversion factors failed
Oil - Trade movements failed
gas_production_bcf ...
oil_production_tonnes ...
biofuels_production_ktoe ...
oil_refinery_throughputs ...
hydro_consumption_mtoe ...
gas_consumption_bcf ...
wind_consumption_twh ...
Geothermal capacity failed
Coal - Reserves failed
coal_production_tonnes ...
carbon_dioxide_emissions ...
oil_proved_reserves_history ...
nuclear_consumption_mtoe ...
gas_production_tonnes ...
coal_production_mtoe ...
oil_production_barrels ...
Definitions failed
hydro_consumption_twh ...
gas_consumption_bcm ...
Gas â€“ Proved reserves failed
primary_energy_consumption ...
Wind capacity failed
solar_consumption_twh ...
Coal - Prices failed
Oil â€“ Proved reserves failed
Oil - Crude prices since 1861 failed
Gas - Trade 2013-2014 failed
Gas - Prices  failed
other_renewables_mtoe ...
gas_consumption_tonnes ...
Oil - Inter-area movements  failed
oil_consumption_barrels ...
Gas â€“ Trade movements LNG failed
biofuels_production_kboed ...
oil_consumption_tonnes ...
nuclear_consumption_twh ...
oil_regional_consumption ...
gas_production_bcm ...
Oil - Regional refining margins failed
geo_biomass_other_mtoe ...
wind_consumption_mtoe ...
solar_consumption_mtoe ...
oil_refinery_capacities ...
Solar capacity failed
Contents failed

In [15]:
c1 = []

for i in ddd.keys():

    fn = os.path.join('..', 'ddf--dataponts--'+ddd[i]+'--by--geo--year.csv')
    
    if os.path.exists(fn):
        c1.append(ddd[i])

In [20]:
c2 = []

for i in ddd.keys():

    fn = os.path.join('..', 'ddf--dataponts--'+ddd[i]+'--by--geo--year.csv')
    
    if os.path.exists(fn):
        c2.append(i)

In [22]:
c1

['other_renewables_twh',
 'gas_proved_reserves_history',
 'electricity_generation',
 'coal_consumption_mtoe',
 'geo_biomass_other_twh',
 'gas_production_bcf',
 'oil_production_tonnes',
 'biofuels_production_ktoe',
 'oil_refinery_throughputs',
 'hydro_consumption_mtoe',
 'gas_consumption_bcf',
 'wind_consumption_twh',
 'coal_production_tonnes',
 'carbon_dioxide_emissions',
 'oil_proved_reserves_history',
 'nuclear_consumption_mtoe',
 'gas_production_tonnes',
 'coal_production_mtoe',
 'oil_production_barrels',
 'hydro_consumption_twh',
 'gas_consumption_bcm',
 'primary_energy_consumption',
 'solar_consumption_twh',
 'other_renewables_mtoe',
 'gas_consumption_tonnes',
 'oil_consumption_barrels',
 'biofuels_production_kboed',
 'oil_consumption_tonnes',
 'nuclear_consumption_twh',
 'gas_production_bcm',
 'geo_biomass_other_mtoe',
 'wind_consumption_mtoe',
 'solar_consumption_mtoe',
 'oil_refinery_capacities',
 'geo',
 'geo_name']

In [17]:
df_2.columns

Index(['geo', 'year', 'oil_refinery_capacities'], dtype='object')

In [18]:
c1.append('geo')
c1.append('geo_name')

In [23]:
c2.append('Geo')
c2.append('Geo Name')

In [24]:
concepts = pd.DataFrame([], columns=['concept', 'concept_type', 'name'])

In [25]:
concepts['concept'] = c1
concepts['name'] = c2

In [27]:
concepts['concept_type'] = 'measure'

In [28]:
concepts

                        concept concept_type                            name
0          other_renewables_twh      measure           Other renewables -TWh
1   gas_proved_reserves_history      measure  Gas - Proved reserves history
2        electricity_generation      measure         Electricity Generation
3         coal_consumption_mtoe      measure        Coal Consumption -  Mtoe
4         geo_biomass_other_twh      measure         Geo Biomass Other - TWh
5            gas_production_bcf      measure            Gas Production â€“ Bcf
6         oil_production_tonnes      measure         Oil Production â€“ Tonnes
7      biofuels_production_ktoe      measure      Biofuels Production - Ktoe
8      oil_refinery_throughputs      measure      Oil - Refinery throughputs
9        hydro_consumption_mtoe      measure        Hydro Consumption - Mtoe
10          gas_consumption_bcf      measure           Gas Consumption â€“ Bcf
11         wind_consumption_twh      measure         Wind Consumption - TWh
12       coal_production_tonnes      measure        Coal Production - Tonnes
13     carbon_dioxide_emissions      measure        Carbon Dioxide Emissions
14  oil_proved_reserves_history      measure   Oil - Proved reserves history
15     nuclear_consumption_mtoe      measure      Nuclear Consumption - Mtoe
16        gas_production_tonnes      measure         Gas Production â€“ tonnes
17         coal_production_mtoe      measure          Coal Production - Mtoe
18       oil_production_barrels      measure        Oil Production â€“ Barrels
19        hydro_consumption_twh      measure         Hydro Consumption - TWh
20          gas_consumption_bcm      measure           Gas Consumption â€“ Bcm
21   primary_energy_consumption      measure     Primary Energy Consumption
22        solar_consumption_twh      measure         Solar Consumption - TWh
23        other_renewables_mtoe      measure         Other renewables - Mtoe
24       gas_consumption_tonnes      measure        Gas Consumption â€“ tonnes
25      oil_consumption_barrels      measure       Oil Consumption â€“ Barrels
26    biofuels_production_kboed      measure     Biofuels Production - Kboed
27       oil_consumption_tonnes      measure        Oil Consumption â€“ Tonnes
28      nuclear_consumption_twh      measure       Nuclear Consumption - TWh
29           gas_production_bcm      measure            Gas Production â€“ Bcm
30       geo_biomass_other_mtoe      measure        Geo Biomass Other - Mtoe
31        wind_consumption_mtoe      measure         Wind Consumption - Mtoe
32       solar_consumption_mtoe      measure        Solar Consumption - Mtoe
33      oil_refinery_capacities      measure       Oil - Refinery capacities
34                          geo      measure                             Geo
35                     geo_name      measure                        Geo Name

In [29]:
concepts.loc[34, 'concept_type'] = 'entity_set'

In [30]:
concepts.loc[35, 'concept_type'] = 'string'

In [33]:
concepts = concepts.append(pd.DataFrame([['name', 'string', 'Name']], index=[36], columns=concepts.columns))

In [34]:
concepts.to_csv('../ddf--concepts.csv', index=False)

In [35]:
from ddf_utils.index import create_index_file

In [38]:
create_index_file('../')

,key,value,file
0,concept,concept_type,ddf--concepts.csv
1,concept,name,ddf--concepts.csv
0,"geo,year",biofuels_production_kboed,ddf--datapoints--biofuels_production_kboed--by...
0,"geo,year",biofuels_production_ktoe,ddf--datapoints--biofuels_production_ktoe--by-...
0,"geo,year",carbon_dioxide_emissions,ddf--datapoints--carbon_dioxide_emissions--by-...
0,"geo,year",coal_consumption_mtoe,ddf--datapoints--coal_consumption_mtoe--by--ge...
0,"geo,year",coal_production_mtoe,ddf--datapoints--coal_production_mtoe--by--geo...
0,"geo,year",coal_production_tonnes,ddf--datapoints--coal_production_tonnes--by--g...
0,"geo,year",electricity_generation,ddf--datapoints--electricity_generation--by--g...
0,"geo,year",gas_consumption_bcf,ddf--datapoints--gas_consumption_bcf--by--geo-...
0,"geo,year",gas_consumption_bcm,ddf--datapoints--gas_consumption_bcm--by--geo-...
0,"geo,year",gas_consumption_tonnes,ddf--datapoints--gas_consumption_tonnes--by--g...
0,"geo,year",gas_production_bcf,ddf--datapoints--gas_production_bcf--by--geo--...
0,"geo,year",gas_production_bcm,ddf--datapoints--gas_production_bcm--by--geo--...
0,"geo,year",gas_production_tonnes,ddf--datapoints--gas_production_tonnes--by--ge...
0,"geo,year",gas_proved_reserves_history,ddf--datapoints--gas_proved_reserves_history--...
0,"geo,year",geo_biomass_other_mtoe,ddf--datapoints--geo_biomass_other_mtoe--by--g...
0,"geo,year",geo_biomass_other_twh,ddf--datapoints--geo_biomass_other_twh--by--ge...
0,"geo,year",hydro_consumption_mtoe,ddf--datapoints--hydro_consumption_mtoe--by--g...
0,"geo,year",hydro_consumption_twh,ddf--datapoints--hydro_consumption_twh--by--ge...
0,"geo,year",nuclear_consumption_mtoe,ddf--datapoints--nuclear_consumption_mtoe--by-...
0,"geo,year",nuclear_consumption_twh,ddf--datapoints--nuclear_consumption_twh--by--...
0,"geo,year",oil_consumption_barrels,ddf--datapoints--oil_consumption_barrels--by--...
0,"geo,year",oil_consumption_tonnes,ddf--datapoints--oil_consumption_tonnes--by--g...
0,"geo,year",oil_production_barrels,ddf--datapoints--oil_production_barrels--by--g...
0,"geo,year",oil_production_tonnes,ddf--datapoints--oil_production_tonnes--by--ge...
0,"geo,year",oil_proved_reserves_history,ddf--datapoints--oil_proved_reserves_history--...
0,"geo,year",oil_refinery_capacities,ddf--datapoints--oil_refinery_capacities--by--...
0,"geo,year",oil_refinery_throughputs,ddf--datapoints--oil_refinery_throughputs--by-...
0,"geo,year",other_renewables_mtoe,ddf--datapoints--other_renewables_mtoe--by--ge...
0,"geo,year",other_renewables_twh,ddf--datapoints--other_renewables_twh--by--geo...
0,"geo,year",primary_energy_consumption,ddf--datapoints--primary_energy_consumption--b...
0,"geo,year",solar_consumption_mtoe,ddf--datapoints--solar_consumption_mtoe--by--g...
0,"geo,year",solar_consumption_twh,ddf--datapoints--solar_consumption_twh--by--ge...
0,"geo,year",wind_consumption_mtoe,ddf--datapoints--wind_consumption_mtoe--by--ge...
0,"geo,year",wind_consumption_twh,ddf--datapoints--wind_consumption_twh--by--geo...
0,geo,geo_name,ddf--entities--geo.csv

In [40]:
for c in c2:
    print(c)

Other renewables -TWh
Gas - Proved reserves history
Electricity Generation
Coal Consumption -  Mtoe
Geo Biomass Other - TWh
Gas Production â€“ Bcf
Oil Production â€“ Tonnes
Biofuels Production - Ktoe
Oil - Refinery throughputs
 Hydro Consumption - Mtoe
Gas Consumption â€“ Bcf
Wind Consumption - TWh
Coal Production - Tonnes
Carbon Dioxide Emissions
Oil - Proved reserves history
Nuclear Consumption - Mtoe
Gas Production â€“ tonnes
 Coal Production - Mtoe
Oil Production â€“ Barrels
Hydro Consumption - TWh
Gas Consumption â€“ Bcm
Primary Energy Consumption
Solar Consumption - TWh
Other renewables - Mtoe
Gas Consumption â€“ tonnes
Oil Consumption â€“ Barrels
Biofuels Production - Kboed
Oil Consumption â€“ Tonnes
Nuclear Consumption - TWh
Gas Production â€“ Bcm
Geo Biomass Other - Mtoe
Wind Consumption - Mtoe
Solar Consumption - Mtoe
Oil - Refinery capacities
Geo
Geo Name

* Oil - Proved reserves history
* Oil Production â€“ Barrels
* Oil Production â€“ Tonnes
* Oil Consumption â€“ Barrels
* Oil Consumption â€“ Tonnes
* Oil - Refinery capacities
* Oil - Refinery throughputs
* Gas - Proved reserves history
* Gas Production â€“ Bcm
* Gas Production â€“ Bcf
* Gas Production â€“ tonnes
* Gas Consumption â€“ Bcm
* Gas Consumption â€“ Bcf
* Gas Consumption â€“ tonnes
* Coal Production - Tonnes
*  Coal Production - Mtoe
* Coal Consumption -  Mtoe
* Nuclear Consumption - TWh
* Nuclear Consumption - Mtoe
* Hydro Consumption - TWh
*  Hydro Consumption - Mtoe
* Other renewables -TWh
* Other renewables - Mtoe
* Solar Consumption - TWh
* Solar Consumption - Mtoe
* Wind Consumption - TWh
* Wind Consumption - Mtoe
* Geo Biomass Other - TWh
* Geo Biomass Other - Mtoe
* Biofuels Production - Kboed
* Biofuels Production - Ktoe
* Primary Energy Consumption
* Electricity Generation
* Carbon Dioxide Emissions

In [36]:
a1 = ddf.ddf_datapoint('ddf--gapminder--gapminder_world', 'oil_proved_reserves_total').query(
    "geo == 'usa'"
)

In [35]:
a2 = ddf.ddf_datapoint('ddf--bp--energy', 'oil_proved_reserves_history').query(
    "geo == 'us'"
)

In [41]:
a1.set_index('time')['oil_proved_reserves_total'] / (a2.set_index('year')['oil_proved_reserves_history'] * 136400000)

1980    0.999980
1981    1.000044
1982    1.000047
1983    1.000051
1984    1.000094
1985    1.000100
1986    0.999924
1987    1.000006
1988    1.000085
1989    0.999908
1990    1.000049
1991    1.000065
1992    0.999968
1993    0.999899
1994    0.999970
1995    1.000025
1996    0.999957
1997    1.000050
1998    0.999920
1999    0.999969
2000    0.999953
2001    1.000029
2002    1.000114
2003    0.999915
2004    0.999904
2005    0.999912
2006    0.999960
2007    1.000062
2008    1.072752
2009         NaN
2010         NaN
2011         NaN
2012         NaN
2013         NaN
2014         NaN
dtype: float64